<log4net>
  <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
    <file value="C:/temp/logs/webapicore.log" />
    <appendToFile value="true" />
    <maximumFileSize value="1000KB" />
    <maxSizeRollBackups value="2" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message%newline" />
    </layout>
  </appender>  
 
  <logger name="com.tbs.logger" additivity="false">
    <level value="INFO" />
    <!--<appender-ref ref="RestAppender" />-->
    <appender-ref ref="RollingFile" />
  </logger>
  <logger name="com.tbs.applogger" additivity="false">
    <level value="INFO" />
    <!--<appender-ref ref="RestAppender" />-->
    <appender-ref ref="RollingFile" />
  </logger>
  <root>
    <level value="DEBUG"/>    
    <appender-ref ref="RollingFile" />
  </root> 
</log4net>